h1.banner{ 
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 5px #000 solid;
  border-bottom: 5px #000 solid;
}

h1{
  background: #fff;
  
  background: #ccf;
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
  padding-right: 10px;
}

h2{
  padding-right: 10px;
  border-bottom: 1px #000 solid;
}

h3{
  padding-right: 10px;
  border-bottom: 1px #000 solid;
}

h4{
  padding-right: 10px;
}

div.index{ 
  padding-left: 10px;
}

div.chaptor{ 
  padding-left: 10px;
}

div.appendix{ 
  padding-left: 10px;
}

div.section{ 
  padding-left: 20px;
}

div.subsection{ 
  padding-left: 30px;
}

pre{ 
  border: 1px #000 solid;
  padding: 10px;
  background: #ffc;
}

div.center{
  text-align: center;
}

a.tree{
  font-size: small;
  text-decoration: none;
}

ul.tree{
  margin-left: 0px;
}

table.footer {
  width:95% ;
  font-size:11px ;
  letter-spacing:1px ;
  position:absolute ;
  bottom:6px ;
  left:3px ;
}

